.custom-row {
  margin-top: 20px;
}

.custom-col {
  margin-bottom: 20px;
}

.custom-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.crypto-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.price {
  font-weight: bold;
  color: green;
}

.market-cap {
  color: #777;
}

.pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}