.card-img-top {
  width: 70px; /* Smaller image size */
  height: 70px; /* Smaller image size */
  object-fit: contain;
  margin: 0 auto;
  padding: 5px; /* Reduced padding */
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 180px; /* Smaller width */
  margin: 0 auto; /* Center the card within the column */
  padding: 10px; /* Reduce padding inside the card */
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.card-text {
  text-align: center;
  font-size: 0.85rem;
}

.crypto-price,
.crypto-market-cap,
.crypto-change {
  font-size: 0.75rem; /* Smaller font size */
}

.crypto-price {
  color: #28a745; /* Green color for price */
  font-weight: bold;
  display: block;
  margin-top: 5px; /* Reduced margin */
}

.crypto-market-cap {
  color: #007bff; /* Blue color for market cap */
  font-weight: bold;
  display: block;
  margin-top: 5px; /* Reduced margin */
}

.crypto-change {
  font-weight: bold;
  display: block;
  margin-top: 5px; /* Reduced margin */
}

.crypto-change.up {
  color: #28a745; /* Green for positive change */
}

.crypto-change.down {
  color: #dc3545; /* Red for negative change */
}

.search-container {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s; /* Transisi saat input aktif */
}

.search-input:focus {
  border-color: #80bdff; /* Warna border saat input aktif */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Efek shadow saat input aktif */
}

.search-icon {
  position: absolute;
  right: 15px; /* Penyesuaian posisi ikon */
  top: 50%; /* Pusatkan vertikal ikon */
  transform: translateY(-50%);
  color: #495057; /* Warna ikon pencarian */
  cursor: pointer;
}

@media (max-width: 576px) {
  .search-input {
    max-width: 100%; /* Lebar maksimum pada layar kecil */
  }
}
